<div id="nav-bar">
      <a class="nav" href="https://uncommonhacks.com">home</a>
      <div class="social-media">
          <a class="no-underline" href="http://facebook.com/uncommonhacks" target="_blank"> <img class="media facebook" src="{{ .Site.BaseURL }}images/thumbs/facebook.svg"/> </a>
        <a class="no-underline" href="http://twitter.com/uncommonhacks" target="_blank"> <img class="media twitter" src="{{ .Site.BaseURL }}images/thumbs/twitter.svg"/> </a>
        <a class="no-underline" href="http://m.me/uncommonhacks" target="_blank"> <img class="media messenger" src="{{ .Site.BaseURL }}images/thumbs/messenger.svg"/> </a>
        <a class="no-underline" href="mailto:celery@uncommonhacks.com"> <img class="media email" src="{{ .Site.BaseURL }}images/thumbs/email.svg"/> </a>
      </div>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
{{ range .Site.Params.highlight.languages }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/{{ . }}.min.js"></script>
{{ end }}
<script>hljs.initHighlightingOnLoad();</script>
