        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .Site.Title }}</title>
        <link rel="shortcut icon" type="image/png" href="{{ .Site.BaseURL }}images/thumbs/favicon.png"/>
        <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}" />
        <meta name="keywords" content="{{ with .Site.Params.keywords }}{{ . }}{{ end }}" />
        <meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}" />
        <style>
            {{ partial "css/nav.css" . | safeCSS }}
        </style>
        <style>
            {{ partial "css/front.css" . | safeCSS }}
        </style>
        <style>
            {{ partial "css/component.css" . | safeCSS }}
        </style>
        <style>
            {{ partial "css/default.css" . | safeCSS }}
        </style>
