<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
        <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/front.css" />
    </head>
    <body>
        <div class="container">
            <div class="main">
                <ul id="og-grid" class="og-grid">
                    {{ range $ind, $elem := .Paginator.Pages }}
                    <li>
                        <a href="{{ $elem.Permalink }}">
                            <div class="grid-elem" style="background-color: {{ index .Site.Params.palette $ind }}">
                                {{ $elem.Title }}
                            </div>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
        {{ partial "footer.html" . }}
        {{ partial "scripts.html" . }}
    </body>
</html>
