<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <span class="uncommon">UNCOMMON</span>
                <ul id="" class="main">
                    {{ range $ind, $elem := .Paginator.Pages }}
                    <li>
                        <a href="{{ $elem.Permalink }}">
                            <div class="grid-elem" style="background-color: {{ index .Site.Params.palette $ind }}">
                                <span class="title">{{ $elem.Title }}</span>
                                <span class="summary">{{ .Summary | plainify | safeHTML }}</span>
                            </div>
                        </a>
                    </li>
                    {{ end }}
                </ul>
        </div>
        {{ partial "footer.html" . }}
        {{ partial "scripts.html" . }}
    </body>
</html>
